{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "app/**/*.{ts,tsx}",
    "components/**/*.{ts,tsx}",
    "hooks/**/*.{ts,tsx}",
    "lib/**/*.{ts,tsx}"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.test.{ts,tsx}",
    "**/*.spec.{ts,tsx}",
    "**/*.cy.{ts,tsx}",
    "cypress/**/*",
    ".next/**/*",
    "coverage/**/*",
    "lib/actions.server.ts"
  ],
  "reporter": ["text", "html", "lcov"],
  "report-dir": "coverage"
} 